{% extends 'layouts/base.html' %}

{% block content %}

<h1>Sobre El Pryecto Cyber-Espacio</h1>

<p>Mapeo objeto-relacional(ORM): Django proporciona un poderoso ORM que permite a los desarrolladores interactuar con bases de datos sin escribir consultas SQL complejas. Admite múltiples motores de bases de datos como PostgreSQL, MySQL, SQLite y Oracle. La app cuenta con base de datos SQLite Se conecta automáticamente, Django, Python, Jinja2, Styles Static, Templates Dinamicos, get-object-or-404, Modelo Vista Controlador, Modelo Template View, Django Admin, En Django cuando nosotros creamos proyectos lo unimos con diferentes aplicaciones que contienen funcionalidades agrupadas.
Blog, autenticación de usuario, artículos, tienda, etc…
Estas Apps se pueden desacoplar si quiero del proyecto. En python las url se le determinan un nombre para la navegación entre vistas</p>

<p>Website created by {{ username }}</p>

{% endblock %}